[global_config]
  scroll_tabbar = True
  title_transmit_bg_color = "#12141c"
[keybindings]
[profiles]
  [[default]]
    background_color = "#12141c"
    cursor_color = "#aaaaaa"
    foreground_color = "#f7f7f7"
    scrollback_lines = 50000
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
